@import "./src/style/colors";

body {
  background-color: #eeeeee;

}

.App {
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

  * {
    font-family: 'Roboto', sans-serif;
  }

  max-width: 1100px;
  margin: auto;

  .navbar {
    display: flex;
    justify-content: center;

    span {
      padding: 20px;
      font-size: 20px;
      font-weight: 400;

      &:hover {
        font-weight: 500;
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.site-layout-content {
overflow-x: auto;

}

.progress {
  position: relative;
  margin: 4px;
  float: left;
  text-align: center;

  h3 {
    color: $blue;
  }

  .barOverflow { /* Wraps the rotating .bar */
    position: relative;
    overflow: hidden; /* Comment this line to understand the trick */
    width: 500px;
    height: 250px; /* Half circle (overflow) */
    margin-bottom: -14px; /* bring the numbers up */
  }

  .bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px; /* full circle! */
    border-radius: 50%;
    box-sizing: border-box;
    border: 15px solid #eee; /* half gray, */
    border-bottom-color: $blue; /* half azure */
    border-right-color: $blue;
  }

}

.yellow-color {
  color: $yellowCard !important;
}

.red-color {
  color: $redCard !important;
}

